.toolbar {
  height: 65px;
  padding: 0 10px;
  white-space: nowrap;
  overflow-x: auto;
  background: #fff;
  border-bottom: 1px solid #ddd;
  :global {
    .ant-btn {
      margin-left: 10px;
      font-size: 12px;
      &:first-child {
        margin-left: 0;
      } 
    }
  }

  .canvas-config {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #606266;
    :global {
      .ant-input {
        width: 50px;
        margin-left: 4px;
      }
    }
    span {
      margin-left: 10px;
    }
  }
}
